{% extends "base.html" %}

{% block content %}
<div class="container-lg px-4">
    <div class="card mb-4">
    <div class="card-body pt-4">
        <div class="d-flex justify-content-between">
        <div>
            <h4 class="card-title mb-0">Sitemap</h4>
            <div class="small text-body-secondary">Building a tree view of a website links.</div>
        </div>
        </div>
        <div class="pt-4">
        <form action="{{ url_for('sitemap') }}" method="GET">
            <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Example: https://website.com/" name="url" value="{{ url if url else ''}}">
            <span class="input-group-text">Max depth</span>
            <input type="number" class="form-control form-control-sm" name="depth" min="0" value="{{ depth if depth else 100 }}" style="max-width: 80px;">
            <button class="btn btn-outline-secondary" type="submit">Analyze</button>
            </div>
        </form>
        </div>
    </div>
    </div>
    <!-- /.card-->
    {% if url %}
    <div class="card mb-4">
    <div class="card-body">
        <div class="py-4">
        <div class="tree-view">
            <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Tree for URL: {{ url }}</h5>
            <div>
                <button id="btn-collapse" class="btn btn-outline-secondary me-2" title="Collapse All">
                <i class="fas fa-compress-alt"></i>
                </button>
                <button id="btn-uncollapse" class="btn btn-outline-secondary" title="Expand All">
                <i class="fas fa-expand-alt"></i>
                </button>
            </div>
            </div>
            <hr>
            <div id="jstree"></div>  
                                            
        </div>
        </div>
    </div>
    </div>
    <!-- /.card-->
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='template/dist/vendors/jstree/dist/jstree.min.js') }}"></script>
    
{% if sitemap %}
<script>
    $(function () {
    $('#jstree').jstree({
        'core': {
        'data': {{ sitemap | tojson }}
        }
    });

    // Prevent double-click from toggling
    $('#jstree').on('dblclick.jstree', function (e) {
        e.stopImmediatePropagation(); // disables open/close on dblclick
    });

    // Open node text (URL) in new tab on single-click
    $('#jstree').on('select_node.jstree', function (e, data) {
        const url = data.node.text;
        if (url.startsWith('http')) {
        window.open(url, '_blank');
        }
    });
    });

    $(function () {

    $('#btn-collapse').on('click', function () {
        $('#jstree').jstree('close_all');
    });

    $('#btn-uncollapse').on('click', function () {
        $('#jstree').jstree('open_all');
    });
    });
</script>
{% endif %}
{% endblock %}